In [1]:
import requests
import pandas as pd
import numpy as np
import json

In [19]:
publish_date = []
sentence = []
score=[]
topics_name = []
year=[]
count = 1
for i in range(0,10):
    data = requests.get(f"http://127.0.0.1:8000/data/data{count}")
    for item in data.json():
        publish_date.append(item['publish_date'])
        sentence.append(item['sentence'])
        score.append(item['score'])
        topics_name.append(item['topic_name'])
        year.append(item['year'])
        i+=1

In [20]:
df = pd.DataFrame({'publish_date': publish_date, 'sentence':sentence,'score':score, 'topic_name':topics_name, 'year':year })

In [21]:
df

,publish_date,sentence,score,topic_name,year
0,2008-07-15,"[heritage, commentator, schofield, talk]",0.369563,interview,2008
1,2008-10-10,"[virtual, reality, become, real, crime]",0.300362,criminality,2008
2,2012-03-01,"[scientist, detect, sign, life, earth]",0.489603,criminality,2012
3,2011-08-23,"[shoot, cattle, trigger, call, farm, vigilance]",0.486955,local news,2011
4,2014-12-14,"[climate, talk, risk, collapse, china, clash]",0.558419,world,2014
...,...,...,...,...,...
149995,2012-04-20,"[interview, simon, mannering]",0.455971,interview,2012
149996,2017-06-14,"[business, usual, energy, policy, wont]",0.383543,criminality,2017
149997,2015-06-27,"[dead, islamic, state, massacre, syria, monitor]",0.578897,world,2015
149998,2005-04-09,"[woodside, source, iraq, cash, donation]",0.234270,economy,2005
149999,2004-11-08,"[downpour, boost, november, rainfall, figure]",0.375399,local news,2004

In [5]:
df_grouped_by_topic = df.groupby(['year','topic_name']).count().reset_index()